.main-container .profvis {
  border: 1px solid rgb(196, 201, 204);
  border-radius: 3px;
  margin-bottom: 10px;
}

img {
  box-shadow: 1px 2px 20px -5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

#overview-image {
  border: none;
  box-shadow: none;
  margin-left: 15px;
}